---
layout: compress
---
<!DOCTYPE html>
<html lang="{{ site.lang }}">

  {% include head.html %}

  <body>
    <div id="shadow"></div>

      {% include header.html %}
      {% include aside.html %}

    <main class="content-wrapper">
      {{ content }}
    </main>

    {% include footer.html %}
    <script src="/js/jquery.min.js"></script>
    <script type='text/javascript' src='/assets/js/bug-min.js'></script>
    <script type='text/javascript'>
      // default fruit fly bug:
      new BugController({
      });

      // default spiders:
      new SpiderController({
      });
    </script>
    {% include open-embed.html %}
  </body>
</html>
