---
layout: compress
---
<!DOCTYPE html>
<html lang="{{ site.lang }}">

  {% include head.html %}

  <body>
    <div id="shadow"></div>

      {% include header.html %}
      {% include aside.html %}

    <main class="content-wrapper">
      {{ content }}
    </main>
    <script type='text/javascript' src='{{ site.baseurl }}/assets/js/bug.js'></script>
    <script type='text/javascript'>

      new BugController({
      });

      new SpiderController({
      });
    </script>
    {% include footer.html %}
    <script src="/js/jquery.min.js"></script>
    {% include open-embed.html %}
  </body>
</html>
